
/* Large desktops and laptops */
@media (min-width: 1200px) {
   .tentralizar-div{
	width: 40%;
	margin-top: 7%;
	margin-left: 20%;
}
body {
	background-color: #fff;
}

}



/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .tentralizar-div{
	width: 40%;
	margin-top: 15%;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}

.logo-iel{
	background-image: url("../../img/LogoIEL2.png");
}
